body {
    font-family: 'Noto Sans HK', sans-serif;
}

header {
    text-align: center;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid {
    margin-right: 15px;
}

.searchCont {
    padding: 25px;
}

#searchButton {
    background-color: lightblue;
    border-radius: 10px;
    width: 50px;
    height: 50x;
}

#searchButton:hover {
    transform: scale(1.1);
    background-color: lightcyan;
}

.currentDay {
    padding: 10px;
    margin-top: 15px;
}


.fiveday {
    text-align: center;
    background-color: lightcyan;
    padding: 10px;
}

h3 {
    padding-bottom: 5px;
}